.logo {
    height: 10vh;
    width: 10vh;
}

nav {
    background-color: #c7ecee;
}

.nav-link {
    color: #130f40;
}

.navbar-toggler {
    background-color: #130f40 !important;
}

.btn-colorPrimary {
    background-color: #c7ecee !important;
    color: #130f40 !important;
}

footer {

    min-height: 30vh;
    background-color: #c7ecee;
    color: #130f40;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.7;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    box-sizing: border-box;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1200px;
    padding-top: 15px;
}

li {
    list-style-type: none;
}

.icone-presentation {
    height: 6vh;
    width: 6vh;
}

.our-values {
    position: relative;
    height: 787px;
}

#values {
    height: 250px;
}

#pres {
    height: 300px;
}

footer {
    min-height: 20vh;
    background-color: bisque;
    width: 100%;
}

.new-products {
    background-color: #130f40;
}

@media screen and (max-width: 1100px) {
    .our-values {
        height: 500px;
    }

    #values {
        height: 150px;
    }

    #pres {
        height: 200px;
    }
}