.logo{
    height: 10vh;
    width: 10vh;
}
nav{
    background-color: #c7ecee;
}

.nav-link{
    color: #130f40;
}
.navbar-toggler{
    background-color: #130f40 !important;
}

.btn-colorPrimary{
    background-color: #c7ecee !important;
    color:#130f40 !important;
}

footer{
    min-height: 30vh;
    background-color: #c7ecee;
    color: #130f40;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.7;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size: 14px;
    box-sizing: border-box;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1200px;
    padding-top: 15px;
}
